asgiref==3.7.2
astroid==2.15.8
bandit==1.7.6
black==23.12.1
-e git+ssh://git@github.com/Terry-BrooksJr/blango.git@81521002d8dae670fb91991720294cde1f69088c#egg=blango
build==1.0.3
certifi==2023.11.17
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cssbeautifier==1.14.11
dill==0.3.7
distlib==0.3.8
Django==5.0.1
django-stubs==4.2.7
django-stubs-ext==4.2.7
djlint==1.34.1
docutils==0.20.1
dodgy==0.2.1
EditorConfig==0.12.3
filelock==3.13.1
flake8==5.0.4
flake8-polyfill==1.0.2
gitdb==4.0.11
GitPython==3.1.41
html-tag-names==0.1.2
html-void-elements==0.1.0
identify==2.5.33
idna==3.6
isort==5.13.2
jsbeautifier==1.14.11
json5==0.9.14
lazy-object-proxy==1.10.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.7.1
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
pathspec==0.12.1
pbr==6.0.0
pep8-naming==0.10.0
platformdirs==4.1.0
pre-commit==3.6.0
prospector==1.10.3
pyannotate==1.2.0
pycodestyle==2.9.1
pydocstyle==6.3.0
pyflakes==2.5.0
Pygments==2.17.2
pylint==2.17.7
pylint-celery==0.3
pylint-django==2.5.3
pylint-flask==0.6
pylint-plugin-utils==0.7
pyproject_hooks==1.0.0
pyright==1.1.345
pyroma==4.2
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
requirements-detector==1.2.2
rich==13.7.0
semver==3.0.2
setoptconf-tmp==0.3.1
setuptools==69.0.3
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
sqlparse==0.4.4
stevedore==5.1.0
toml==0.10.2
tomlkit==0.12.3
tqdm==4.66.1
trove-classifiers==2024.1.8
types-pytz==2023.3.1.1
types-PyYAML==6.0.12.12
typing_extensions==4.9.0
urllib3==2.1.0
virtualenv==20.25.0
vulture==2.10
wrapt==1.16.0
