{% extends "base.html" %}
{% block title %} Posts {% endblock title %}
{% block content %}
    <h2>Blog Posts</h2>
    <table class="table table-striped ">
        <thead>
            <tr class="table-dark ">
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Summary</th>
              <th scope="col">Date Created</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
    {% for post in posts %}
    <tr>
       <td>{{ post.title }}</td>
        <td>{{ post.author.first_name }} {{ post.author.last_name }}</td>
        <td>{{ post.summary|title  }}</td>
        <td>{{ post.created_at|date:"M, d Y" }}</td>
        <td><a href="{% url "post-detail" post.slug %}" class="btn btn-primary">{{ post.content|wordcount }} words</a></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}